.about{
    width: 100vw;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.box-1 {
    width: 40%;
    display: flex;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1.75;
    letter-spacing: 1.5px;
    padding-block: 4rem;
}

.box-2 {
    width: 60%;
    line-height: 1.5;
    padding-block: 3rem;
}

