.contact-section-container {
    display: flex;
    flex-flow: column nowrap;
    padding-block: 11rem;
    gap: 1rem;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.contact-section-container.dark {
    background: #28282a;
}

.contact-section-container.three {
    background-image: url('../assets/project-3.jpg');
}

.contact-section-container.four {
    background-image: url('../assets/project-4.jpg');
}

.contact-section-container.other {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5ce435d6bea1ed00016ba287/1558966799885-ML5545PRM09UWRMD4ON8/MatthiasHeiderich-084-copy.jpg');
}

.contact-section-dark {
    background-color: #2C2C2C;
    color: white;
}

.contact-section-with-background {
    background-color: transparent;
    border-color: transparent;
}

.contact-section-container h2,
.contact-section-dark h2,
.contact-section-with-background h2 {
    font-size: 2.6rem;
    width: 50%;
}

.contact-section-container p,
.contact-section-dark p,
.contact-section-with-background p {
    font-size: 1.1rem;
    width: 50%;
}

@media (max-width: 768px) {
    .contact-section-container,
    .contact-section-dark {
        padding-block: 6rem;
    }

    .contact-section-container h2,
    .contact-section-dark h2,
    .contact-section-with-background h2 {
        font-size: 2rem;
        width: 100%;
    }

    .contact-section-container p,
    .contact-section-dark p,
    .contact-section-with-background p {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contact-section-container {
        padding-inline: 2rem;
    }
}
