footer {
    display: flex;
    flex-flow: column nowrap;
    padding: 5rem;
    padding-inline-start: 14rem;
}

footer h3 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.dual-container {
    width: 80%;
    display: flex;
    flex-flow: row;
    column-gap: 5rem;
}