.media-menu {
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    padding: 2rem;
}

.menu-nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
}