.navbar-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 2.5rem;
    padding-inline: 5rem;

}

.title-container {
    display: flex;
    flex: 1; 
    justify-content: flex-start;
    font-size: 1rem;
}

.navbar-list {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 300;
    gap: 1.5rem;
}

.navbar-list .active {
    border-bottom: 1px solid black;
}


