.navbar-container {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
}

.navbar-list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem;
}

li {
    list-style: none;
}