.press{
    width: 100vw;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.press-box-1 {
    padding: 3rem;
    width: 40%;
}

.press-box-2 {
    font-size: 1.5rem;
    width: 60%;
}

.press-box-1 h1 {
    font-size: 2.5rem;
}

blockquote {
    padding: 2.5rem;
}