.project-view-container {
    padding-block: 5rem;
    }
    
    .project-dual-container {
        padding-inline: 10rem;
        display: flex;
        gap: 2rem;
    }
    
    .press-box-1 {
        padding: 3rem;
        width: 50%;
    }
    
    .project-box-2 {
        font-size: 1.5rem;
        width: 50%;
        padding: 3rem;
        padding-left: 0rem;
    }
    
    .project-box-1 h1 {
        font-size: 2.5rem;
    }
    
    .project-blockquote {
        padding: 2.5rem;
    }
    
    .project-image{
        background-image: url('https://images.squarespace-cdn.com/content/v1/5ce435d6bea1ed00016ba287/1558966799885-ML5545PRM09UWRMD4ON8/MatthiasHeiderich-084-copy.jpg');
    }