.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.container-1400 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.dual-container-1400 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  padding-block: 5rem;
}
