body {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
  }

a {
    color: inherit;           /* Inherit color from parent element */
    text-decoration: none;    /* Remove underline */
}

a:visited {
    color: inherit;           /* Inherit color from parent element */
}

a:active {
    color: inherit;           /* Inherit color from parent element */
}

a:hover {
    color: inherit;           /* Inherit color from parent element */
}

  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    font-weight: 400;
    font-size: inherit;
  }

  li {
    list-style: none;
    margin: 0; 
}
  